<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Add New Recipes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add New Recipes</ion-title>
    </ion-toolbar>
  </ion-header>
  <form #recipeForm="ngForm" (ngSubmit)="onSubmit(recipeForm)">
    <ion-item>
      <ion-label position="floating">Recipe Name</ion-label>
      <ion-input
        #recipename
        autofocus="true"
        name="recipeName"
        required
        [(ngModel)]="recipeName"
      ></ion-input>
    </ion-item>

    <form #ingredientForm="ngForm">
      <h3 class="ion-text-center">Add Ingredients:</h3>
      <ion-item-group ngModelGroup="ingredient">
        <ion-item>
          <ion-label position="floating">Ingredient</ion-label>
          <ion-input #ingredientName name="ingredientName" ngModel> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Amount</ion-label>
          <ion-input #amount name="amount" ngModel></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Unit of Measurement</ion-label>
          <ion-select #unit [value]="units[0]" name="unit" ngModel>
            <ion-select-option *ngFor="let unit of units">
              {{unit}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button (click)="addIngredient(ingredientName, amount, unit)"
          >Add Ingredient
        </ion-button>
        <ion-button (click)="removeIngredient()"
          >Remove Last Ingredient</ion-button
        >
      </ion-item-group>
    </form>
    <h3 class="ion-text-center">Current Ingredients</h3>
    <ion-list>
      <ion-item *ngFor="let ingredient of ingredients">{{ingredient}}</ion-item>
      <!-- Insert Ingredients as they are entered -->
    </ion-list>
    <ion-button type="submit" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </form>
</ion-content>
