<ion-content>
  <ion-item>
    <ion-button (click)="dismissModal()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-item>
  
  <ion-list>
    <ion-item>
      <ion-label color="primary">Recipe Name: </ion-label>
      <ion-input value="{{ recipeName }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Recipe Source: </ion-label>
      <ion-input value="{{ source }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Page Number: </ion-label>
      <ion-input value="{{ pageNumber }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Number of Servings: </ion-label>
      <ion-input value="{{servings}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-list>
        <ion-list-header><ion-label>Ingredients</ion-label></ion-list-header>
        <ion-item *ngFor="let ingredient of ingredients">
          {{ ingredient.amount }} {{ ingredient.unit }}
          {{ ingredient.ingredientName }}
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-button (click)="updateRecipe($event, recipe)" color="warning"
      >Update Recipe</ion-button
    >
    <ion-button
      (click)="deleteRecipe($event, recipe)"
      slot="end"
      color="danger"
    >
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-list>
</ion-content>
