<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="new">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>New</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipes">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="planner">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Planner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="groceries">
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label>Grocery List</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
